<!DOCTYPE>
<html>
	<head>
		<title>MAN'S CHIEF END IS TO GLORIFY GOD AND ENJOY HIM FOREVER.</title>
	</head>
	<body>
		<h1>Glorify God</h1>
		<p>The question is: How do you do that in everyday life?</p>
	</body>
</html>
